{
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {

  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true
  },
  "rules": {
    "no-console": 0
  }
}
