{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "console": true
  },
  "sourceType": "module",
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "quotes": [2, "single"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "prefer-const": [2]
  }
}
